---
import AboutHeroImage from '../../public/assets/images/VictoriaMartz-Headshots-2025-8384-scaled-e1756160485443.jpg';
import Layout from '../layouts/About.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Victoria Martz is a proud Hoosier, with deep roots right here in Ripley County. She grew up moving between Milan and Batesville with her parents and five brothers and sisters. While her family lived out of state for short time periods, in both big cities and small towns, her heart always stayed in Indiana.
	</p>

	<p>
		Her childhood was special. It was shaped by Christian values, a loving, close-knit family, a strong belief in hard work, and a unique way of learning. Victoria was homeschooled until 8th grade, which meant a lot of hands-on adventure! She remembers her dad working two jobs to make sure the family had everything they needed, and her mom tirelessly managed their busy home. These early lessons taught Victoria the true value of dedication and looking out for one another.
	</p>

	<p>
		Victoria got the best of both worlds in her education. She learned practical skills on the farm, raising animals and growing all kinds of delicious produce like asparagus, strawberries, potatoes, tomatoes, and peppers. Then, she joined traditional school in Batesville, getting a well-rounded education. From getting her hands dirty in the garden to working hard through law school, Victoria has always shown amazing effort and a can-do spirit. Her parents taught her early on how important it is to give back to the community and help others.
	</p>

	<p>
		That’s why Victoria chose to become a lawyer. She was inspired by her own desire to help people, and by her grandfather, who was also a lawyer. He was a medical malpractice lawyer who always stood up for regular people who were hurt by big companies. He believed in helping those who couldn’t easily help themselves. Victoria shares that “underdog” spirit; she has always rooted for those who are most vulnerable and understands how important it is to use your voice to speak up for others, especially when you have a chance to make a difference.
	</p>

	<p>
		After graduating from IU Law School and passing the bar exam in 2019, Victoria began her career as a criminal defense lawyer. Every day, she works with both young people and adults, fighting for what’s right and fair for her clients. Just like her grandfather, Victoria is dedicated to making sure everyone in our community gets a fair shot at justice. She believes that by working together, we can build a stronger, more just Ripley County for all.
	</p>
    <p>
        Victoria lives right in the heart of Batesville, Indiana, raising her toddler right here in the community she cherishes. You’ll often spot her at our local grocery stores or farmers markets, enjoying community parks and events, or browsing the gardening shops—she still loves to plant! Victoria is incredibly friendly and warm, so please don’t hesitate to say hello if you see her around. She’d love to meet you and talk with you!
    </p>
</Layout>
