---

import ContentPages from "../layouts/About.astro";
---
<ContentPages title="Content Testing Page" description="This is a content testing page.">
    <p>This is a content testing page.</p>
</ContentPages>