---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="site-header site-header__header-one ">
            <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
                <div class="container clearfix">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="logo-box clearfix">
                        <a class="navbar-brand" href="/">
                            <img src="/assets/images/logo-dark-vm.png" class="main-logo" width="177" alt="Awesome Image" />
                        </a>
                        <button class="menu-toggler" data-target=".main-navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div><!-- /.logo-box -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="main-navigation">
                        <ul class=" navigation-box">
                            <li class="current">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                                <ul class="sub-menu">
                                    <li><a href="/about">About Me</a></li>
                                    <li><a href="/about#issues">Issues</a></li>
                                    <li><a href="/about#endorsements">Endorsements</a></li>
                                    <li><a href="/about#media">Media</a></li>
                                </ul><!-- /.sub-menu -->
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <div class="right-side-box">
                        <div class="header-social">
                            <a href="https://linktr.ee/VoteVictoriaMartz" ><span class="fab fa-linktree"></a>
                            <a href="https://www.facebook.com/people/Victoria-Martz-for-District-55/61566432233549/"><span class="fab fa-facebook"></span>
                            <a href="https://www.instagram.com/martz4indiana/"><span class="fab fa-instagram"></a>
                            <a href="https://www.tiktok.com/@martz4indiana"><span class="fab fa-tiktok"></a>
                            <a href="https://www.reddit.com/r/VoteVictoriaMartz/"><span class="fab fa-reddit"></a>
                        </div><!-- /.header-social -->
                    </div><!-- /.right-side-box -->
                </div>
                <!-- /.container -->
            </nav>
        </header><!-- /.site-header -->
